<div class="row">
  <div class="card col-md-6">
    <div class="card-header">
      <% content_for(:name, @product.name) %>
      <h1><%= @product.name %></h1>
    </div>
    <div class="card-body">
      <h2>Price: $<%= @product.cost %></h2>
      <h2>Country of Origin: <%= @product.country %></h2>
      <% if @product.reviews.any? %>
        <% @product.reviews.each do |review| %>
          <p>
            <%= link_to review.author, product_review_path(review)%>
          </p>
        <% end %>
      <% else %>
        <p>There are no reviews yet!</p>
      <% end %>

      <%= link_to "New Review", new_product_review_path(@product) %>

      <%= render "form" %>

      <!-- <%= link_to "Delete", product_path(@product),
                                       :data => {:confirm => "Are you sure?",
                                                      :method => "delete"} %> -->

    </div>
  </div>
</div>
